@use "../global/variables.scss";

.about-us-list {
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$screen-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 310px);
    grid-template-rows: subgrid;
    column-gap: 1.3vw;
  }
}
