@use "../global/variables.scss";

.add__title {
  padding-bottom: 22.5px;

  @media (min-width: variables.$screen-tablet) {
    position: absolute;
    max-width: 255px;
    word-break: break-all;
    white-space: inherit;
  }
}

.add__input {
  border: none;
  background-color: inherit;
  border: 2px solid #000000;
  padding: 17px;
  width: 100%;
  resize: none;
  color: #444444;
  font-family: variables.$font-ptsans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  &:hover,
  &:active {
    transition: border-color 0.2s;
    border-color: #62d1ba;
  }
}

.add__input::placeholder {
  color: #000000;
  font-family: variables.$font-ptsans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;

  @media (min-width: variables.$screen-tablet) {
    font-size: 19px;
  }
}

.add__input:disabled {
  opacity: 0.2;
  &:hover {
    border-color: #000000;
  }
}

.add__input:not(:placeholder-shown) {
  transition: border-color 0.2s;
  border-color: #62d1ba;
}
