@use "../global/variables.scss";

.catalog-item__container {
  padding: 0 30px;
}

.catalog-item__link {
  display: block;
  padding-bottom: 27.5px;
}

.catalog-item__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.catalog-item__description {
  color: #444444;
  font-size: 13px;
  line-height: 30px;
  text-align: start;
  padding-bottom: 17.5px;
}

.catalog-item__button {
  margin: 0;
  padding: 0;
  mask-image: url("../img/stack/sprite.svg#cart");
  flex-shrink: 0;
  width: 24px;
  height: 21px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #000000;
  opacity: 0.2;
  display: block;
}
