@use "../global/variables.scss";

.catalog-item__container {
  padding: 0 30px 26.5px 28px;
  border: 1px solid #ececec;

  @media (min-width: variables.$screen-tablet) {
    padding: 27px 32px 22.5px;
    border: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    flex-grow: 1;
    padding-bottom: 22.5px;
    padding-left: 27px;
    padding-top: 26px;
  }
}

.catalog-item__wrapper {
  @media (min-width: variables.$screen-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .catalog-item__container {
      transition: box-shadow 0.2s;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active .catalog-item__container {
      transition: box-shadow 0.2s;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &:has(.catalog-item__button:active) .catalog-item__container {
    transition: box-shadow 0.2s;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__link {
  display: block;
}

.catalog-item__title {
  font-size: clamp(17px, 5vw, 20px);
  font-weight: 700;
  line-height: 24px;
  text-align: start;
  padding-top: 27.5px;
  padding-bottom: 6px;

  &--toyscart {
    padding-top: 24px;
    padding-bottom: 10px;
  }

  @media (min-width: variables.$screen-tablet) {
    padding-top: 0;

    &--underwear {
      padding-bottom: 10px;
    }

    &--toyscart {
      padding-bottom: 6px;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    padding-top: 0;

    &--underwear {
      padding-bottom: 5px;
    }
  }
}

.catalog-item__description {
  color: #444444;
  font-size: clamp(13px, 4vw, 15px);
  line-height: 30px;
  text-align: start;
  padding-bottom: 17.5px;

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 12.5px;
  }
}

.catalog-item__price {
  font-size: clamp(15px, 4vw, 17px);
  font-weight: 700;
  position: relative;
  left: -1px;
}

.catalog-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.catalog-item__button {
  margin: 0;
  padding: 5px;
  display: block;
  border: none;
  background-color: transparent;
  position: absolute;
  right: -9.5px;
  bottom: 0;
  cursor: pointer;

  @media (min-width: variables.$screen-desktop) {
    right: -2.5px;
    bottom: -1px;
  }

  &:hover .cart-button__icon {
    transition: 0.2s;
    background-color: #63d1bb;
    opacity: 1;
  }

  &:active {
    transition: 0.2s;
    opacity: 0.3;
  }
}
