@use "../global/variables.scss";

.catalog__wrapper {
  padding-bottom: 30px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 53px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 57px;
  }
}

.catalog__list {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    flex-direction: column;
    gap: 54px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 51px;
  }
}

.catalog__item {
  padding-top: 29px;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    flex-basis: 316px;
    position: relative;
  }
}
