@use "../global/variables.scss";

.contacts-mail {
  display: flex;
  color: #444444;
  font-size: 14px;
  line-height: 30px;
  text-align: start;

  @media (min-width: variables.$screen-tablet) {
    font-size: 17px;
  }
}

.contacts-mail__title {
  flex-basis: 76px;
  flex-shrink: 0;
}

.contacts-mail__link {
  display: block;
  position: relative;

  @media (min-width: variables.$screen-tablet) {
    max-width: 230px;
    height: fit-content;
  }

  &:hover {
    transition: 0.2s;
    color: #62d1ba;
  }

  &:active {
    .mail-link__text {
      transition: 0.1s;
      text-decoration-color: rgba(98, 209, 186, 0.1);
    }
  }
}
