@use "../global/variables.scss";

.contacts__wrapper {
  padding-top: 42px;
  padding-bottom: 62px;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 68px;
    padding-bottom: 49px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin: 0;
    padding-top: 71px;
    padding-left: 175px;
    padding-bottom: 105px;
  }
}

.contacts__container {
  &--main {
    position: relative;
    padding-bottom: 39px;

    @media (min-width: variables.$screen-tablet) {
      padding-bottom: 57px;
    }

    @media (min-width: variables.$screen-desktop) {
      display: flex;
      justify-content: center;
      padding-bottom: 0;
    }
  }

  &--adress {
    @media (min-width: variables.$screen-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: variables.$screen-desktop) {
      display: block;
      width: 290px;
      padding-bottom: 145px;
    }
  }
}

.contacts__title {
  padding-bottom: 31px;
  letter-spacing: -0.5px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 18px;
  }

  @media (min-width: variables.$screen-desktop) {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 34.5px;
    padding-top: 79px;
  }
}

.contacts__mail {
  padding-bottom: 30px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 20px;
  }
}

.contacts__button {
  margin: 0 9.38vw;

  @media (min-width: variables.$screen-tablet) {
    padding-left: 39.5px;
    padding-right: 39.5px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 20px;
    width: fit-content;
    max-width: 290px;
    word-break: break-all;
  }

  @media (min-width: variables.$screen-desktop) {
    position: absolute;
    left: 228px;
    bottom: 105px;
    max-height: 120px;
  }
}

.contacts__location {
  padding-bottom: 39px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 55px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin: 0;
    padding-top: 71px;
    padding-bottom: 105px;
    flex-basis: 527px;
  }
}
