@use "../global/variables.scss";

.contacts {
  padding-bottom: 39px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 57px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 0;
  }
}

.contacts__wrapper {
  padding-top: 38px;
  padding-bottom: 62px;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 68px;
    padding-bottom: 49px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin: 0;
    padding-top: 71px;
    padding-left: 175px;
    padding-bottom: 105px;
  }
}

.contacts__container {
  @media (min-width: variables.$screen-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: block;
    width: 290px;
    padding-bottom: 145px;
  }
}

.contacts__title {
  padding-bottom: 28px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 49px;
  }

  @media (min-width: variables.$screen-desktop) {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 34.5px;
    padding-top: 79px;
  }
}

.contacts__mail {
  padding-bottom: 30px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 20px;
  }
}

.contacts__button {
  margin: 0 9.38vw;

  @media (min-width: variables.$screen-tablet) {
    width: fit-content;
    padding-left: 39.5px;
    padding-right: 39.5px;
    font-size: 17px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 290px;
    word-break: break-all;
  }

  @media (min-width: variables.$screen-desktop) {
    position: absolute;
    left: 228px;
    bottom: 105px;
    max-height: 120px;
  }
}

.contacts__location {
  padding-bottom: 42px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 55px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin: 0;
    padding-top: 71px;
    padding-bottom: 105px;
    flex-basis: 527px;
  }
}
