@use "../global/variables.scss";

.form__type {
  padding-bottom: 26px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 50px;
  }
}

.form__color {
  padding-bottom: 25px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 50px;
  }
}

.form__name {
  padding-bottom: 29.5px;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 49px;
    padding-bottom: 50px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-top: 50px;
  }
}

.form__phone {
  padding-bottom: 28.5px;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 47px;
    padding-bottom: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-top: 49px;
  }
}

.form__email {
  padding-bottom: 28.5px;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

.form__add {
  padding-bottom: 11px;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 50px;
    padding-bottom: 47px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-top: 48px;
    padding-bottom: 45px;
  }
}

.form__button {
  padding-bottom: 55px;
  max-width: 1150px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 48px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-right: 227px;
    padding-left: 225px;
    padding-bottom: 50px;
  }
}
