@use "../global/variables.scss";

.form__type {
    padding-bottom: 31px;
}

.form__color {
  padding-bottom: 25px;
}

.form__name {
  padding-bottom: 34.5px;
}

.form__phone {
  padding-bottom: 34.5px;
}

.form__email {
  padding-bottom: 34.5px;
}

.form__add {
  padding-bottom: 17px;
}

.form__button {
  padding-bottom: 55px;
}
