@use "../global/variables.scss";

.hero {
  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 63px;
  }
}

.hero__container {
  &--index {
    background-image: url("../img/hero/hero_mobile.webp");
    background-repeat: unset;
    background-position: top;
    background-size: contain;
    background-color: #e2e2e2;
    min-height: clamp(520px, 97.13vw, 746px);
    position: relative;
    z-index: 0;

    @media (min-width: variables.$screen-tablet) {
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 32px;
        background-image: url("../img/zigzag_line_hero.svg");
        background-repeat: repeat-x;
        background-position: bottom;
        z-index: 0;
        position: absolute;
        bottom: -6px;
      }
    }

    @media (min-width: variables.$screen-desktop) {
      margin-bottom: 54px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/hero_mobile@2x.webp");
    }

    @media (min-width: 447px) {
      background-image: url("../img/hero/hero_tablet.webp");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/hero_tablet@2x.webp");
      }
    }

    @media (min-width: 769px) {
      background-image: url("../img/hero/hero_desktop.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/hero_desktop@2x.webp");
      }
    }
  }

  &--form {
    background-image: none;

    @media (min-resolution: 2dppx) {
      background-image: none;
    }

    background-color: #e2e2e2;
    min-height: 177px;
    position: relative;
    z-index: 0;

    @media (min-width: variables.$screen-tablet) {
      margin-bottom: 54px;
      min-height: 238px;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 24px;
        background-image: url("../img/zigzag_line_hero.svg");
        background-repeat: repeat-x;
        background-position: bottom;
        z-index: 0;
        position: absolute;
        bottom: -6px;
      }
    }

    @media (min-width: variables.$screen-desktop) {
      min-height: 272px;

      &::after {
        height: 34px;
        background-size: cover;
      }
    }
  }
}

.hero__type {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  left: 0;
  right: 0;

  @media (min-width: variables.$screen-tablet) {
    display: flex;
    padding: 0 50px;
  }
}

.hero__title {
  text-align: center;
  font-size: clamp(27px, 5vw, 53px);
  line-height: clamp(30px, 5vw, 57px);
  padding: 90px 30px 249px;
  width: clamp(260px, 87vw, 668px);
  margin: 0 auto;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 154px;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 700px;
  }

  &--form {
    padding: 73.5px 0;

    @media (min-width: variables.$screen-tablet) {
      position: relative;
      padding-top: 101px;
      padding-bottom: 63px;
    }
  }
}

.hero__description {
  background-color: #ffffff;
  color: #444;
  font-size: 13px;
  line-height: 24px;
  padding-top: 17px;
  padding-bottom: 29px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-left: 217px;
    padding-right: 217px;
    white-space: initial;
    max-width: 1150px;
  }
}
