@use "../global/variables.scss";

.mail-link__text {
  position: relative;
  word-break: break-all;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
  }
}
