@use "../global/variables.scss";

.mail-link__text {
  position: relative;
  word-break: break-all;
  text-decoration: underline;
  text-decoration-color: #62d1ba;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;

  @media (min-width: variables.$screen-desktop) {
    text-underline-offset: 13px;
    position: relative;
    left: 2px;
  }
}
