@use "../global/variables.scss";

.nav-list__primary {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    align-self: flex-end;
    order: 1;
    width: fit-content;
    max-width: 535px;
  }

  @media (min-width: variables.$screen-desktop) {
    max-width: 440px;
  }
}

.nav-list__secondary {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    order: 2;
    width: 43.62vw;
  }

  @media (min-width: variables.$screen-desktop) {
    position: absolute;
    flex-direction: column;
    gap: 0 41px;
    max-width: 790px;
  }
}
