@use "../global/variables.scss";

.nav-list__primary {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    align-self: flex-end;
    order: 1;
    margin-right: 14px;
  }
}

.nav-list__secondary {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    width: 43.62vw;
  }
}
