@use "../global/variables.scss";

.slider-author {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  display: block;

  @media (min-width: variables.$screen-tablet) {
    font-size: 18px;
  }
}

.slider-author__mail {
  color: #444444;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 4px;
  display: block;
}
