@use "../global/variables.scss";
@use "../global/mixin";

.slider-buttons {
  display: flex;
  gap: 31px;
}

.slider__description {
  padding-bottom: 33px;
  color: #444444;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 17px;
    white-space: break-spaces;
    padding-bottom: 61px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0 30px 44px 175px;
    position: relative;
    z-index: 1;
  }
}

.slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.slider__author {
  @include mixin.reset;
  padding-bottom: 30px;
}

.slider-buttons__button {
  @include mixin.reset;
  background-color: transparent;
  flex-basis: 50%;
  border: 1px solid #ececec;
  background-image: url("../img/stack/sprite.svg#slider_arrow");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 52px 56px;
  height: 52px;
  cursor: pointer;

  &--next {
    transform: rotate(180deg);
  }

  @media (min-width: variables.$screen-tablet) {
    border: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
