@use "../global/variables.scss";

.type-products__link {
  padding: 24px 30px 31px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  position: relative;

  &:nth-child(odd) {
    background-color: #63d1bb;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: inherit;
      height: 6px;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  &:nth-child(even) {
    background-color: #56c3b2;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: inherit;
      height: 6px;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  @media (min-width: variables.$screen-tablet) {
    flex-basis: 50%;
    padding: 25px 36px 34px;
    font-size: 20px;
    line-height: 30px;
  }

  &--interior {
    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        transition: 0.2s;
        transform: translateY(-5px);
      }
    }
  }

  &--toys {
    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        transition: 0.2s;
        transform: translateY(-5px);
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .hero-link__title {
        transition: 0.2s;
        transform: translateY(-5px);
      }

      .hero-link__title::after {
        opacity: 0.7;
      }
    }

    &:active {
      .hero-link__title::after {
        transition: 0.2s;
        opacity: 0.3;
      }
    }
  }
}
